body {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
	min-width: 768px;
	background: #f2f2f2;
}

.visually_hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.shadow {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
	width: 1200px;
	margin: 0px auto;
}

/*шапка*/

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	width: 1200px;
	margin: 0px auto;
}

.logo {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.main_navigation {
	width: 100%;
	background: white;
	margin-bottom: 0px;
}

.site_navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: white;
	padding: 0px;
	padding-bottom: 2px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.site_navigation li {
	display: block;
	width: 200px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: space-around;
}

.site_navigation li:first-child {
	padding-left: 71px;
	text-align: left;
}

.site_navigation li:last-child {
	padding-right: 72px;
	text-align: right;
}

.site_navigation li:nth-child(2) {
	margin-right: 200px;
	text-align: left;
	padding-left: 45px;
}

.site_navigation li:nth-child(3) {
	text-align: center;
	padding-left: 14px;
}

.site_navigation a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.site_navigation .active {
	color: #766357;
}

.site_navigation a:hover, .site_navigation a:focus {
	color: #81b3d2;
}

.site_navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

/*подвал*/

.footer {
	position: relative;
}

.footer_wrapper {
	top: -155px;
	background: rgba(255,255,255,0.9);
	width: 1200px;
	margin: 0px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 35px;
	padding-top: 32px;
}

.absolute {
	position: absolute;
	margin-top: 32px;
}

.hashtag {
	margin-left: 132px;
}

.hashtag a {
	font-size: 21px;
	line-height: normal;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.soc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 34px;
}

.soc a {
	font-size: 0px;
}

.social {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	margin-top: 2px;
	vertical-align: baseline;
}

.social_tw {
	background: #81b3d2 url("../img/twitter.svg") no-repeat 50% 50%;
}

.social_fb {
	background: #81b3d2 url("../img/fb_icon.svg") no-repeat 50% 50%;
}

.social_y {
	background: #81b3d2 url("../img/youtube.svg") no-repeat 50% 50%;
}

.soc a:hover, .soc a:focus {
	background-color: #669ec0;
}

.soc .social_tw:active {
	background: #5496bd url("../img/twitter_active.svg") no-repeat 50% 50%;
}

.soc .social_fb:active {
	background: #5496bd url("../img/fb_icon_active.svg") no-repeat 50% 50%;
}

.soc .social_y:active {
	background: #5496bd url("../img/youtube_active.svg") no-repeat 50% 50%;
}

.copyright_wrapper {
	margin-right: 102px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 195px;
}

.academy {
	width: 115px;
	height: 41px;
	padding-top: 9px;
}

.academy a {
	color: black;
	font-size: 0px;
}

.academy a:hover, .academy a:focus{
	color: #81b3d2;
}

.academy a:active {
	color: #bdbbbc;
}

/*index.html*/

.container {
	width: 1200px;
	margin: 0px auto;
}

.description_header {
	font-size: 21px;
	font-weight: bold;
	width: 450px;
	text-align: center;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 27px;
}

.description_reasons {
	color: #333333;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	margin-bottom: 51px;
	padding-left: 10px;
}

.intro {
	position: relative;
	top: -56px;
	height: 510px;
	background: blue;
	z-index: -1;
	margin-bottom: 58px;
}

.reason {
	background-color: #81b3d2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 256px;
}

.reason_text {
	line-height: 21px;
	color: white;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.reason_text h3 {
	font-size: 21px;
	line-height: 21px;
	color: white;
	font-weight: bold;
	width: 155px;
	margin-bottom: 24px;
}

.reason_text span {
	margin-bottom: 7px;
}

.reason_text p {
	margin-left: 47px;
	margin-right: 47px;
	max-width: 304px;
}

.reason_image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.feature {
	line-height: 21px;
	color: #333333;
	background: white;
	padding-bottom: 69px;
}

.feture_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.feature h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
}

.house, .food {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 400px;
	text-align: center;
	padding-top: 60px;	
}

.souvenir {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 400px;
	text-align: center;
	padding-top: 56px;
}

.house_icon {
	width: 75px;
	height: 76px;
	margin-left: 162px;
	margin-bottom: 3px;
}

.food_icon {
	margin-left: 158px;
	padding-top: 1px;
	width: 75px;
	height: 76px;
	margin-bottom: 2px;
}

.souvenir_icon {
	margin-left: 163px;
	width: 75px;
	height: 76px;
	margin-bottom: 7px;
}

.house h3, .food h3, .souvenir h3 {
	margin-bottom: 10px;
}

.house p, .souvenir p {
	padding-left: 60px;
	padding-right: 60px;
}

.food p {
	padding-left: 50px;
	padding-right: 50px;
}

.reverse .reason_text {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.reason_grey_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #eeeeee;
}

.grey_wrapper p {
	margin-left: 60px;
	margin-right: 60px;
	max-width: 265px;
}

.grey {
	background-color: #eeeeee;
}

.grey .reason_text {
	color: #333333;
	width: 400px;
	margin: auto;
}

.grey h3 {
	color: black;
}

.find {
	font-weight: bold;
	background: white;
}

.find p {
	line-height: 24px;
	color: #333333;
	font-weight: normal;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
}

.find h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	padding-top: 56px;
	margin-bottom: 30px;
	margin-top: 0px;
}

.link {
	background-color: #766357;
	margin-top: 50px;
	width: 568px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 47px;
}

.link a {
	display: inline-block;
	width: 568px;
	font-size: 21px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: baseline;
}

.link a:hover, .link a:focus {
	background-color: #604e43;
}

.link a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.map {
	background: #cbdda9 url("../img/map.jpg") no-repeat;
	height: 596px;
}

.map iframe {
	border: none;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-80px);
		transform: translateY(-80px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-80px);
		transform: translateY(-80px);
	}

	70% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	90% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

.modal_show {
	z-index: 1;
	position: absolute;
	width: 100%;
	top: -593px;
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}
.modal_wrapper {
	position: relative;
}

.modal_hidden {
	display: none;
}

.modal_error {
	-webkit-animation: shake 0.6s;
	animation: shake 0.6s;
}

.form_wrapper {
	max-height: 430px;
	overflow-y: auto;
}

.map input::-webkit-input-placeholder {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
}

.map input::-moz-placeholder {
	box-sizing: border-box;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
}

.map input::-ms-input-placeholder {
	box-sizing: border-box;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
}

.map form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 568px;
	background: white;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.35);
	padding-top: 55px;	
	left: 50%;
}

.map input {
	text-transform: uppercase;
	font: inherit;
	border: 2px solid #f2f2f2;
	background: #f2f2f2;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	outline: none;
}

.map input:hover {
	background: #ebebeb;
	border: 2px solid #ebebeb;
}

.map input:focus {
	background: white;
	border: 2px solid #e5e5e5;
}

.in, .out, .number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 55px;
	margin-right: 55px;
	margin-bottom: 29px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	width: 458px;
}

.out {
	margin-bottom: 30px;
}

.number {
	margin-bottom: 54px;
}

.in input {
	width: 331px;
}

.date_in {
	width: 112px;
}

.out input {
	width: 331px;
}

.date_out {
	width: 112px;
}

.grownups, .children {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.grownups .minus {
	padding-bottom: 3px;
}

.grownups .plus {
	margin-right: 53px;
}

.children .minus {
	padding-bottom: 3px;
}

.grownups .minus:hover, .grownups .minus:focus, .grownups .plus:hover, .grownups .plus:focus, .children .minus:hover, .children .minus:focus, .children .plus:hover, .children .plus:focus {
	color: black;
}

.grownups .minus:active, .grownups .plus:active, .children .minus:active, .children .plus:active {
	color: #81b3d2;
}

.number input {
	width: 34px;
	text-align: center;
	vertical-align: middle;
	padding-left: 0px;
	padding-right: 0px;
}

.number button {
	width: 38px;
	height: 38px;
	border: none;
	background: #f2f2f2;
	font-size: 24px;
	color: #818181;
	outline: 0;
}

.date_grownups {
	width: 112px;
}

.date_children {
	width: 65px;
}

.calendar {
	position: absolute;
	padding-right: 9px;
	right: 0px;
	top: 8px;
}

.calendar a {
	color: #cacaca;
}

.calendar a:hover {
	color: black;
}

.calendar a:active {
	color: #81b3d2;
}

.button_find button {
	background-color: #81b3d2;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: 21px;
	line-height: normal;
	font-weight: bold;
	width: 458px;
	position: relative;
	margin-right: 55px;
	margin-left: 55px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-bottom: 55px;
}

.button_find button:hover, .button_find button:focus {
	background-color: #669ec0;
}

.button_find button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

/*hotels.html*/

.params input {
	background-color: #f2f2f2;
	text-transform: uppercase;
	line-height: normal;
	text-align: center;
}

.params {
	background: url("../img/fon.jpg") no-repeat #0066cc;

}

.params_form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 3px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1200px;
	line-height: 0px;
	
}

.params h2 {
	font-size: 16px;
	line-height: 21px;
	color: white;
	font-weight: bold;
}

.params label {
	line-height: 21px;
	color: white;
	cursor: pointer;
}

.params button {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 6px;
	border-radius: 3px;
	margin-left: 85px;
	width: 137px;
}

.params button:hover, .params button:focus {
	background-color: #ffffff;
	color: #000000
}

.infrastructure h2 {
	margin: 0px 0px;
	padding-bottom: 24px;
}

.infrastructure {
	width: 145px;
	margin-left: 70px;
	padding-top: 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 2px;
}

.checkbox {
	display: none;
}

.checkbox_custom {
	position: relative;
	width: 23px;
	height: 23px;
	display: inline-block;
	vertical-align: middle;
}

.checkbox:not(:checked):disabled + .checkbox_custom::before {
	content: "";
	display: block;
	position: relative;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox_off_disabled.svg") no-repeat 50% 50%;
}

.checkbox:not(:disabled):checked + .checkbox_custom::before {
	content: "";
	display: block;
	position: relative;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox_on.svg") no-repeat 50% 50%;
}

.checkbox:not(:checked) + .checkbox_custom::before {
	content: "";
	display: block;
	position: relative;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox_off.svg") no-repeat 50% 50%;
}

.checkbox:checked + .checkbox_custom::before {
	content: "";
	display: block;
	position: relative;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox_on_disabled.svg") no-repeat 50% 50%;
}

.label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
}

.type_of_housing .label {
	margin-left: 14px;
}

.pool {
	margin-bottom: 22px;
}

.parking {
	margin-bottom: 21px;
}

.type_of_housing h2 {
	margin: 0px 0px;
	padding-bottom: 24px;
}

.type_of_housing {
	width: 150px;
	margin-left: 110px;
	padding-top: 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.hotel {
	margin-bottom: 22px;
	width: 136px;
}

.motel {
	margin-bottom: 21px;
}

.price h2 {
	margin: 0px 0px;
	padding-bottom: 11px;
}

.price {
	width: 318px;
	
	margin-left: 333px;
	margin-bottom: 30px;
	margin-right: 70px;
	padding-top: 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
}

.price .min, .price .max {
	width: 53px;
	text-align: left;
	padding-left: 0px;
	cursor: pointer;
	padding-top: 7px;
	border: none;
	padding-bottom: 8px;
	color: white;
} 

.price input {
	background: none;
}

.diapason {
	border: 2px solid white;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

.diapason label {
	padding-left: 66px;
}

.diapason label:last-child {
	margin-left: 16px;
	padding-left: 50px;
}

.diapason label::after {
	content: "";
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 22px;
	left: 50%;
	top: 15%;
	background-color: white;
	vertical-align: baseline;
}

.range_controls {
	position: relative;
	margin-top: 10px;
	margin-bottom: 32px;
}

.range_controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range_toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range_toggle:hover {
	background: #1c4f80;
}

.range_toggle_min {
	left: 0;
}

.range_toggle_max {
	left: 79%;
}

.sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 70px;
	padding-bottom: 13px;
	padding-top: 12px;
	background: #fefefe;
}

.sorting h2 {
	font-size: 21px;
	font-weight: bold;
}

.sorting_option {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	margin-left: 47px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 8px;
}

.sorting_list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0px;
	margin-left: 40px;
}

.sorting_list a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting_list a:hover, .sorting_list a:focus {
	color: #81b3d2;
}

.sorting_list a:active {
	color: black;
	border-bottom: none;
}

.sorting_list .current {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: none;
}

.sorting_list li:not(:nth-child(4)):not(:last-child) {
	padding-right: 33px;
}

.sorting_list li:nth-child(3) {
	margin-right: 471px;
}

.sorting_list li:nth-child(4) a, .sorting_list li:nth-child(5) a {
	padding-right: 12px;
	border-bottom: none;
}

.dir {
	color: #cacaca;
}

.dir a, .dir_active a {
	font-size: 0px;
}

.dir a:hover, .dir a:focus {
	color: #231F20;
}

.dir a:active {
	color: #81b3d2;
}

.found {
	margin-left: 2px;
}

.hotel_info h2 {
	font-size: 21px;
	font-weight: bold;
}

.hotel_info a {
	color: black;
}

.hotel_info a:hover, .hotel_info a:focus {
	color: #81b3d2;
}

.hotel_info a:active {
	color: rgba(0, 0, 0, 0.3);
}

.result {
	line-height: 21px;
	color: #333333;
	background: #fefefe;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-top: 1px solid #e5e5e5;
}

.result:last-child {
	border-bottom: 1px solid #e5e5e5;	
}

.result a {
	font-weight: bold;
	text-decoration: none;
}

.hotel_foto {
	margin-left: 72px;
	padding-top: 30px;
	padding-bottom: 25px;
}

.hotel_info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-left: 30px;
	margin-top: 26px;
	padding-bottom: 0px;
	width: 100%;
}

.hotel_info h2 {
	margin: 0px 0px;
	padding-top: 1px;
	padding-bottom: 9px;
}

.more_and_reserv {
	padding-top: 17px;
}

.more {
	margin-right: 2px;
}

.more a {
	display: inline;
	background: #81b3d2;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 17px;
	color: white;
}

.reserv a {
	display: inline;
	background-color: #766357;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 17px;
	padding-right: 17px;
	color: white;
}

.more a:hover, .more a:focus {
	background-color: #669ec0;
	color: white;
}

.more a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.reserv a:hover, .reserv a:focus {
	background-color: #604e43;
	color: white;
}

.reserv a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.score {
	width: 116px;
}

.score p {
	color: #666666;
	background-color: #f2f2f2;
	display: inline;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-top: 3px;
	padding-left: 15px;
	margin-left: 6px;
}

.rating {
	margin-right: 72px;
	margin-top: 15px;
	max-width: 180px;
}

.stars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	margin-bottom: 49px;
	padding: 0px;
}

.star {
	display: inline-block;
	width: 18px; 
	height: 17px;
	background: url("../img/star.svg");
	vertical-align: baseline;
}

.star4 {
	margin-right: 6px;
}

.star3 {
	margin-right: 6px;
}

.star2 {
	margin-right: 5px;
}

.star1 {
	margin-right: 0px;
}

.min_price {
	position: absolute;
	left: 116px;
}